

/* bg color  */
.bg-color1{
    background-color: #16423C;
}
.bg-color2{
    background-color: #6A9C89;
}
.bg-color3{
    background-color: #C4DAD2;
} 
.bg-color4{
    background-color: #E9EFEC;
}
.bg-color5{
    background-color: #973131;
}
.bg-color6{
    background-color: #E0A75E;
}
.bg-color7{
    background-color: #F9D689;
} 
.bg-color8{
    background-color: #F5E7B2;
}

/* color */
.color1{
    color: #16423C;
}
.color2{
    color: #6A9C89;
}
.color3{
    color: #C4DAD2;
} 
.color4{
    color: #E9EFEC;
}
.color5{
    color: #973131;
}
.color6{
    color: #E0A75E;
}
.color7{
    color: #F9D689;
} 
.color8{
    color: #F5E7B2;
}

body {
    background-image: url('assets/bgbody.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* font */
h1, h3, h5  {
    font-family: "DM Serif Display", serif;
    font-style: normal;
}
p {
    font-family: "Poppins", sans-serif;
}

.qq {
    font-size: 2rem;
    margin: 0;
    padding: 0;
} 

.tfix {
    margin-bottom: -1em;
}
.bfix {
    margin-top: -1em;
}

/* home */
.hero {
    background-image: url('assets/blob.svg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - (56px + 32px));
}

/* gallery */
.gallery {
    background-image: url('assets/blobgallery.svg');
    background-size: auto 100%;
    background-position: center;
}

/* menu */
.menu {
    background-image: url('assets/blobmenu.svg');
    background-size: cover;
    background-position: center;
}

/* order */
.order {
    background-image: url('assets/bloborder.svg');
    background-size: auto 100%;
    background-position: center;
}

/* animation */
.line-1{
    position: relative;
    width: 5em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(10) 1s 1 normal both,
             blinkTextCursor 700ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 5.65em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@media (max-width: 640px) {
  .img-food {
    min-width: 2rem;
    max-width: 3rem;
  }
    .ico {
    padding-bottom: 1rem ;
  }
}

@media (min-width: 641px) {
  .img-food {
    
    max-width:8rem;
  }

}

/* TESTI */

/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align:center;
  }
  /* indicator position */
  #quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
      color:#60dfe5;
  }
  /* indicator color */
  #quote-carousel .carousel-indicators li {
    background: #333333;
      height:4px;
    width:50px;
  }
  /* active indicator */
  #quote-carousel .carousel-indicators .active {
    background: #60dfe5;
    height:4x;
    width:50px;
    margin-bottom:1px;
  }

  /* button wa */
  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  .floating-btn:hover {
    background-color: #128C7E; /* Darker WhatsApp green */
    color: white;
  }